TMDBDUMP/* 
TMDBDUMP/** 
peewee/* 
peewee/** 
IMDBAPI.py
ini.json 
**/IMDBAPI.py 
*.log 
*.pyc
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env

TMDBDUMP/* 
TMDBDUMP/** 
peewee/* 
peewee/** 
IMDBAPI.py 
ini.json 
**/IMDBAPI.py 
*.log 
*.pyc
