RewriteEngine On
#RewriteBase /
# Unless directory, remove trailing slash
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^([^/]+)/$ https://radarr.video$1 [R=301,L]

# Redirect external .php requests to extensionless url
RewriteCond %{THE_REQUEST} ^(.+)\.php([#?][^\ ]*)?\ HTTP/
RewriteRule ^(.+)\.php$ $1 [R=301,L]

# Resolve .php file for extensionless php urls
RewriteRule ^([^/.]+)$ $1.php [L]